* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: rgb(250, 245, 245);
  --main: rgba(241, 97, 39, 0.9);
  --secondary: rgb(64, 137, 233);
  --grey: rgb(183, 189, 194);
  --dark-grey: rgb(99, 103, 105);
}

@font-face {
  font-family: 'orkney-medium';
  src: url('../FONT/orkney-webfont/orkney-medium-webfont.woff2') format('woff2'),
    url('../FONT/orkney-webfont/orkney-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--grey);
  font-family: 'orkney-medium';
}

#content {
  display: grid;
  background-color: var(--white);
}

.header p {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 12px;
  letter-spacing: 1px;
}

.header p:hover {
  cursor: pointer;
  text-shadow: 3px 3px rgba(39, 50, 75, 0.8);
  transition: 0.5s ease;
  background-color: var(--main);
}

.header p:active {
  background-color: var(--secondary);
  transition: none;
}

.header {
  display: grid;
  height: 60px;
  grid-template-columns: 2fr repeat(3, 1fr);
  justify-items: center;
  color: var(--white);
  background-color: var(--secondary);
  font-weight: bold;
  font-size: 1.4rem;
  box-shadow: 0px 5px 10px 2px var(--grey);
}

.order-button {
  border: none;
  font: inherit;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: var(--white);
  background-color: var(--main);
  padding: 10px;
  box-shadow: 0px 8px 12px -5px rgb(157, 160, 161);
  text-shadow: 2px 3px rgba(39, 50, 75, 0.8);
}

.order-button:hover {
  cursor: pointer;
  text-shadow: -3px 4px 2px rgba(19, 26, 43, 0.8);
  transition: 0.5s ease;
}

.order-button:active {
  background-color: var(--secondary);
  transition: none;
}

.home-images {
  display: grid;
  margin: 80px;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: var(--white);
}

img {
  box-shadow: 0px 0px 15px 2px var(--grey);
}

.cosmos-pizza {
  width: 70%;
  border-radius: 10px;
  justify-self: center;
}

.yard-pizza {
  grid-column: 2 / 3;
  width: 100%;
  border-radius: 10px;
}

.call-to-action {
  display: grid;
  justify-content: center;
  gap: 20px;
}

.cucumber-pizza {
  font-size: 2rem;
  font-style: italic;
  color: var(--dark-grey);
}

.kramer-throw {
  border-radius: 10px;
  height: 70%;
  justify-self: center;
}

.footer {
  background-color: var(--grey);
}

.footer>p {
  text-align: center;
  padding: 10px;
}